<tr class="job-table-row">
  <td><%= job.worker_id %></td>
  <td><%= job.job_valid %></td>
  <td><%= job.dispatched %></td>
  <td><%= job.completed %></td>
  <td><%= job.success %></td>
  <td><%= job.command %></td>
  <td><%= job.output %></td>
  <td><%= link_to 'Show', job, class: 'btn btn-info', role: 'button'%></td>
  <td><%= link_to 'Edit', edit_job_path(job), class: 'btn btn-info', role: 'button' %></td>
  <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-info', role: 'button' %></td>
</tr>
