<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">


      <!-- Place show code here -->
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Worker:</strong>
        <%= @job.worker_id %>
      </p>

      <p>
        <strong>Job valid:</strong>
        <%= @job.job_valid %>
      </p>

      <p>
        <strong>Dispatched:</strong>
        <%= @job.dispatched %>
      </p>

      <p>
        <strong>Completed:</strong>
        <%= @job.completed %>
      </p>

      <p>
        <strong>Success:</strong>
        <%= @job.success %>
      </p>

      <p>
        <strong>Command:</strong>
        <%= @job.command %>
      </p>

      <p>
        <strong>Output:</strong>
        <%= @job.output %>
      </p>

      <%= link_to 'Edit', edit_job_path(@job), class: 'btn btn-info', role: 'button' %> 
      <%= link_to 'Back', jobs_path, class: 'btn btn-info', role: 'button' %>

      <!-- End show code -->

    </div>
  </div>
</div>
